

.dragDrop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(150px, auto) min-content;
    row-gap: 30px;
    
    .dragDropButton {
        display: flex;
        justify-content: flex-end;
    }
}