@import "@/styles/variables.module.scss";

.loginBlockWrapper {
    display: grid;
    grid-template-columns: minmax(350px, 630px);
    grid-template-rows: 1fr;
    align-items: center;
    
    .loginBlock {
        display: grid;
        grid-template-columns: minmax(320px, 400px);
        padding: 47px 0;
        
        justify-content: center;
        row-gap: 35px;
        
        .loginTitle {
            text-align: center;
        }
        
        .loginInputs {
            display: grid;
            row-gap: 25px;
        }
        
        .loginButton {
            display: flex;
            justify-content: flex-end;
        }
    }
}