
.allTrafficWrapper {
    width: 100%;
    
    display: grid;
    grid-template-columns: min-content min-content max-content 170px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "title interface save search" "all-trafic all-trafic all-trafic all-trafic";
    align-items: center;
    row-gap: 35px;
    
    white-space: nowrap;

    justify-content: space-between;
    
    .allTrafficTitle {
        grid-area: title;
    }
    
    .allTrafficInter {
        grid-area: interface;
    }

    .allTrafficSave {
        grid-area: save;
    }
    
    .allTrafficSearch {
        grid-area: search;
        justify-self: end;
        
        display: grid;
        grid-template-columns: 170px;
    }
    
    .allTraffic {
        grid-area: all-trafic;
        
    }
}