@import "@/styles/variables.module.scss";


.changePassword {
	display: grid;
	grid-template-columns: 440px;

	.changePasswordInputs {
		margin: 15px 0 25px 0;
		display: grid;
		row-gap: 20px;
	}

	.successChangePasswordInputs {
		span {
			border-color: $color_7;
			background-color: rgba($color_7, .4);
		}
	}

	.changePasswordButton {
		display: flex;
		justify-content: flex-end;
	}
}