@import "@/styles/variables.module.scss";


.packageAnomalyWrapper {
	height: 100%;

	display: grid;
	grid-template-rows: min-content 460px;

	overflow: hidden;

	.headerList {
		width: 100%;
		margin-bottom: 15px;
		justify-items: start;
	}

	.columnWrapper {
		display: grid;
		grid-template-columns: 60px 0.7fr 0.9fr 1fr 0.6fr 0.9fr 1fr 0.6fr 0.5fr 0.5fr;
		justify-items: center;
		//justify-content: space-between;
		padding: 0 5px;
	}

	.packageList {
		width: 100%;
		height: 100%;
		//display: flex;
		//justify-content: center;

		.packageAnomalyList {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}

		.noAnomaliesFound {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			column-gap: 30px;
			text-wrap: wrap;

			width: 70%;
			height: 100%;
		}

		//.packageListIsEmpty {
		//    height: 100%;
		//    display: grid;
		//    justify-content: center;
		//    align-items: center;
		//}
	}

	.underLine {
		position: relative;
		padding-bottom: 10px;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $color_3;
			bottom: 0;
			left: 0;
		}
	}
}