@import '@/styles/variables.module';

.showPasswordWrapper {
    position: absolute;
    
    @media ($phone375_639) {
        top: 22%;
        right: 12px;
    }
    
    @media ($pad640_991) {
        top: 25%;
        right: 14px;
    }
    
    @media ($pad992_1279) {
        top: 25%;
        right: 15px;
    }
    
    @media ($desktop1280_1439) {
        top: 27%;
        right: 15px;
    }
    
    @media ($desktop1440_1919) {
        top: 27%;
        right: 17px;
    }
    
    @media ($desktop1920) {
        top: 29%;
        right: 20px;
    }
    
    .showPassword {
        position: relative;
        cursor: pointer;
        user-select: none;
        
        @media ($phone375_639) {
            //padding: 2px;
            width: 26px;
            height: 26px;
        }
        
        @media ($pad640_991) {
            width: 26px;
            height: 26px;
        }
        
        @media ($pad992_1279) {
            width: 28px;
            height: 28px;
        }
        
        @media ($desktop1280_1439) {
            width: 28px;
            height: 28px;
        }
        
        @media ($desktop1440_1919) {
            width: 28px;
            height: 28px;
        }
        
        @media ($desktop1920) {
            //padding: 6px 5px;
            width: 30px;
            height: 30px;
        }
    }
}
