@import "@/styles/variables.module.scss";

.wrapper {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: grid;
    grid-template-columns: .6fr 3px 1fr;

    @media screen and ($phone375_639), screen and ($pad640_991), screen and ($pad992_1279) {
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 3px 1fr;
    }

    .logoBody {
        display: grid;
        grid-template-columns: minmax(150px, 527px);
        grid-template-rows: minmax(100px, 165px);
        align-content: center;
        justify-content: center;
        row-gap: 50px;

        background-color: $color_5;

        .logoWrapper {
            width: 100%;
            height: 100%;
            max-width: 527px;
            max-height: 165px;
            position: relative;

            .logo {
                object-fit: contain;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                pointer-events: none;
            }
        }

        .linkToMe {
            display: flex;
            color: $color_1;
        }
    }

    .sectionBorder {
        width: 100%;
        height: 100%;
        background-color: $color_3;
    }

    .sectionInputsWrapper {
        background-color: $color_white;
        display: grid;
        justify-content: center;
        align-content: center;
    }
}