@import '@/styles/variables.module.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: inherit;
	border-radius: 15px;
	user-select: none;
	opacity: 1;

	@media ($phone375_639) {
		padding: 12px 22px;
	}

	@media ($pad640_991) {
		padding: 14px 26px;
	}

	@media ($pad992_1279) {
		padding: 14px 28px;
	}

	@media ($desktop1280_1439) {
		padding: 14px 28px;
	}

	@media ($desktop1440_1919) {
		padding: 16px 32px;
	}

	@media ($desktop1920) {
		padding: 16px 32px;
		border-radius: 20px;
	}

	&:disabled, &:hover {
		opacity: .8;
	}
}